@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #eaeaea;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    border: none;
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin: 2em 0 0 0; */
    /* padding: 2em 0 0 0; */
}